<div class="container">
  <div class="content">
    <h1>{{ contador }}</h1>
    <form autocomplete="off" [formGroup]="myForm">
      <div class="inputs">
        <section>
          <label for="tempo">Tempo:</label>
          <input type="number" id="tempo" formControlName="tempo" />
        </section>
        <section>
          <label for="potencia">Potência:</label>
          <input type="number" id="potencia" formControlName="potencia" />
        </section>
      </div>
      <section class="btns">
        <button type="submit" (click)="iniciarAquecimento()">
          <span>Iniciar</span>
          <span>+30s</span>
        </button>
        <button (click)="pausarCancelar()">
          <span>Pausar</span>
          <span>Cancelar</span>
        </button>
      </section>
    </form>
    <p>{{ status }}</p>
  </div>
</div>