<div class="text-center my-4">
    <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Product</button>
</div>
<div class="modal fade modal-dialog-scrollable" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formulario" autocomplete="off">
                    <input type="text" formControlName="id" hidden>
                    <label for="product" class="mb-2">Product Name</label>
                    <input id="product" type="text" class="form-control mb-3" formControlName="name">
                    <label for="brand" class="mb-2">Brand Name</label>
                    <input id="brand" type="text" class="form-control mb-3" formControlName="brand">
                    <label for="price" class="mb-2">Product Price</label>
                    <input id="price" type="number" class="form-control mb-3" formControlName="price">
                    <input type="button" value="Add" class="btn btn-outline-primary my-3 w-100" (click)="handleSubmit()">
                    <button type="button" id="cancel" class="btn btn-outline-secondary w-100" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
